.disable-regular-price {
    text-decoration: line-through;
}

.add-wishlist {
    position: absolute;
    top: 261px;
    right: 570px;
    z-index: 9;
    color: rgb(219, 41, 10);
}

.discount-product{
    background-color: #FFE77AFF;
    color: green;
    font-size: 19px;
    padding: 10px;
}
.listing-attr::before{
    content: "\1F525";
    position: absolute;
    left: 18px;
    top: -319px;
    z-index: 1;
    font-size: 25px;
}
.listing-attr-pdp::before{
    content: "\1F525";
    position: absolute;
    left: 89px;
    top: -911px;
    z-index: 1;
    font-size: 79px;
}